{% extends 'base.html' %} {% block content %} {% for note in notes %}
<div class="crd">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <div class="card-title">
        <u><h5>{{note.name}}</h5></u>
      </div>
      <div class="card-subtitle text-muted mb-2">
        <h6>{{note.date_created}}</h6>
      </div>
      <div>{{note.text}}</div>
      <div class="links">
        <a href="{% url 'edit' note.id %}">Update</a>
        <a href="{% url 'delete' note.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
