{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <a href="{% url 'new' %}"><h4>Create New Note</h4></a>
    <div>
      {% for note in notes %}
      <a href="{% url 'details' pk=note.pk %}">{{note.name}} </a>
      {{note.date_created}} {{note.text}} {%endfor %}
    </div>
    {% endblock %}
  </body>
</html>
